:root {
  --main-colo: #F4F9F7;
  --accent-colo: #000;
  --seco-colo: #fff;
}

* {
  box-sizing: border-box;
}

.App {
  position: relative;
  width: 100dvw;
  height: 100dvh;
  background-color: var(--main-colo);
}

.App-clock {
  position: relative;
  margin: auto;
  height: 250px;
  aspect-ratio: 1;
  /* background-color: red; */
  border-radius: 50%;
  top: 50px;
  overflow: hidden;
}
.App-clock_background {
  position: absolute;
  height: 100%;
  width: 100%;
  background: conic-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* filter: invert(100%); */
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: difference; */

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 40px;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
